.arrow-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 25px;
  right: 3rem;
  &__link {
    z-index: 2;
  }
}

.arrow-1 {
  width: 100px;
  height: 100px;
  background: $color--quaternary--2;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
}

.arrow-2 {
  width: 60px;
  height: 60px;
  background: $color--quaternary--2;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
  cursor: pointer;
}

.arrow-2:before {
  width: 56px;
  height: 56px;
  content: '';
  border: 2px solid $color--primary;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa {
  position: absolute;
  left: 50%;
  top: 2.2rem;
  bottom: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid $color--primary;
  border-right: 2px solid $color--primary;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

/* Custom Animate.css */

.animated.hinge {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.4, 0.4, 0.4);
    transform: scale3d(0.4, 0.4, 0.4);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
