.button {
  &__medium {
    border: none;
    align-self: start;
    padding: 1.2rem 5rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    background-color: inherit;
    color: $color--quaternary;
    font-family: "Lato";
    border: 1px solid;
    border-radius: 4px;

    cursor: pointer;
  }
}
