$color--primary: #002849;
$color--primary--2: #011f38;
$color--primary--3: #021d31;
$color--primary--4: #03345c;

$color--secondary: #e23e39;
$color--secondary--2: #f35954;

$color--tertiary: #ffffff;
$color--tertiary--2: rgba(255, 255, 255, 0.096);
$color--tertiary--3: rgba(201, 201, 201, 0.795);
$color--tertiary--4: rgba(236, 236, 236, 0.795);
$color--tertiary--5: rgb(160, 168, 194);

$color--quaternary: #23f5f5;
$color--quaternary--2: #12cccc;

// $color--primary: #002849;
// $color--primary--2: #011f38;
// $color--primary--3: #021d31;
// $color--primary--4: #03345c;

// $color--secondary: #e23e39;

// $color--tertiary: #ffffff;
// $color--tertiary--2: rgba(255, 255, 255, 0.096);
// $color--tertiary--3: rgba(201, 201, 201, 0.795);
// $color--tertiary--4: rgba(236, 236, 236, 0.795);

// $color--quaternary: #23f5f5;
// $color--quaternary--2: #12cccc;

// $color--primary: #051d39;
// $color--primary--2: #051d39;
// $color--primary--3: #021d31;

// $color--secondary: #df2525;

// $color--tertiary: #ffffff;
// $color--tertiary--2: rgba(255, 255, 255, 0.096);
// $color--tertiary--3: rgba(201, 201, 201, 0.795);

// $color--quaternary: #23f5f5;²
// $color--quaternary--2: #12cccc;

// $color--primary: #f2c77d;
// $color--primary--2: #1a1a18;
// $color--primary--3: #1a1a18;

// $color--secondary: #1a1a18;

// $color--tertiary: #de8341;
// $color--tertiary--2: rgba(255, 255, 255, 0.096);
// $color--tertiary--3: rgba(201, 201, 201, 0.795);

// $color--quaternary: #23f5f5;
// $color--quaternary--2: #12cccc;

// $color--primary: #002849;
// $color--primary--2: #011f38;
// $color--secondary: #b0413e;
// $color--secondary--2: #23f5f5;
// $color--secondary--3: #461a1a8c;
// $color--tertiary: #a7b1b8;
// $color--tertiary--2: rgba(255, 255, 255, 0.096);
// $color--quaternary: #6a2d24;

// $color--primary: #002849;
// $color--primary--2: rgb(204, 188, 164);
// $color--secondary: #b0413e;
// $color--secondary--2: #7e97a0;
// $color--secondary--3: #461a1a8c;
// $color--tertiary: #5e9988;
// $color--quaternary: #6a2d24;

// $color--primary: #002849;
// $color--primary--2: rgb(204, 188, 164);
// $color--secondary: #b0413e;
// $color--secondary--2: #4e7886;
// $color--secondary--3: #461a1a8c;
// $color--tertiary: #5e9988;
// $color--quaternary: #6a2d24;

// $color--primary: #003249;
// $color--primary--2: rgb(245, 184, 92);
// $color--secondary: #b0413e;
// $color--secondary--2: #115f79;
// $color--secondary--3: #461a1a8c;
// $color--tertiary: #5e9988;
// $color--quaternary: #6a2d24;

// $color--primary: #edab49;
// $color--primary--2: rgb(245, 184, 92);
// $color--secondary: #e45e3c;
// $color--secondary--2: #494242;
// $color--secondary--3: #461a1a8c;
// $color--tertiary: #5e9988;
// $color--quaternary: #6a2d24;
