@font-face {
  font-family: "Bugaki";
  src: url("../fonts/Bugaki.ttf");
  font-weight: normal;
  font-syle: normal;
}

@font-face {
  font-family: "Capriola";
  src: url("../fonts/Capriola-Regular.ttf");
  font-weight: normal;
  font-syle: normal;
}

@font-face {
  font-family: "Elianto";
  src: url("../fonts/Elianto-Regular.ttf");
  font-weight: normal;
  font-syle: normal;
}

@font-face {
  font-family: "Gemosh";
  src: url("../fonts/Gemosh Extrude-Regular.ttf");
  font-weight: normal;
  font-syle: normal;
}

@font-face {
  font-family: "Ikaros";
  src: url("../fonts/Ikaros Regular.otf");
  font-weight: normal;
  font-syle: normal;
}

@font-face {
  font-family: "Milgran";
  src: url("../fonts/MilgranRegular-jE0MG.ttf");
  font-weight: normal;
  font-syle: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("../fonts/Mosk Normal 400.ttf");
  font-weight: normal;
  font-syle: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("../fonts/CalibreRegular.otf");
  font-weight: normal;
  font-syle: normal;
}
