*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include xl {
    font-size: 59.375%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include lg {
    // font-size: 56.25%; //1 rem = 8px, 8/16 = 50%
  }

  @include sm {
    // font-size: 40%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Lato';
  color: $color--tertiary;
  background-color: $color--primary;
}
